<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <a href="/">Go Home</a>
      {% if error %}
      <div>{{error}}</div>
      {% elif profiles %}
      {% for profile in profiles %}
      <div class="row">
        <div class="col-4">
          <a href="{{profile.url}}">{{profile.login}}</a>
        </div>
        <div class="col-4">
          <img src="{{profile.avatar_url}}" alt="" />
        </div>
        <div class="col-4">
          Number of followers: {{profile.followers_url|length}}
        </div>
        <div class="col-4">
          Number of following: {{profile.following_url|length}}
        </div>
      </div>
      {%endfor %}
      {% endif %}
    </div>
  </body>
</html>
